In [1]:
%pip install pandas

Collecting pandas
  Using cached pandas-2.3.2-cp313-cp313-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (91 kB)
Collecting numpy>=1.26.0 (from pandas)
  Using cached numpy-2.3.3-cp313-cp313-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/yokowasis/git/perangkat-pembelajaran/venv/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /home/yokowasis/git/perangkat-pembelajaran/venv/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-2.3.2-cp313-cp313-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.1 MB)
Using cached numpy-2.3.3-cp313-cp313-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (16.6 MB)
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4/4 [pandas]2m3/4 [pandas]
Successfully installed numpy-2.3.3 pandas-2.3.2 pytz-2025.2 tzdata-2025.2

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
# read csv
import pandas as pd

df = pd.read_csv('./rekap.csv') # type: ignore
# replace "-" with 0
df = df.replace('-', 0) # type: ignore

/tmp/ipykernel_37976/2848953311.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('-', 0) # type: ignore

In [3]:
prefix = [
    'Al-Quran_Hadis',
    'Aqidah_Akhlak',
    'Bahasa_Arab_Tingkat_Lanjut',
    'Bahasa_Arab',
    'Bahasa_Indonesia_Tingkat_Lanjut',
    'Bahasa_Indonesia',
    'Bahasa_Inggris_Tingkat_Lanjut',
    'Bahasa_Inggris',
    'Biologi',
    'Ekonomi_Pilihan',
    'Ekonomi',
    'Fikih',
    'Fisika',
    'Geografi',
    'Ilmu_Hadis',
    'Informatika',
    'Kimia',
    'Matematika_Tingkat_Lanjut',
    'Matematika',
    'Pendidikan_Pancasila',
    'Sejarah_Kebudayaan_Islam',
    'Sejarah',
    'Seni_Budaya',
    'Sosiologi',
    'Usul_Fikih'
]

# copy df
new_df = df.copy()
new_df

,No,Username,Nama,Kelas,Al-Quran_Hadis_X-1_X-2_X-3_X-4_X-5_X-6_X-7_X-8_X-9_X-10,Al-Quran_Hadis_XI-1_XI-2_XI-3_XI-4_XI-10_XII-1_XII-2_XII-5_XII-7,Al-Quran_Hadis_XI-5_XI-6_XI-7_XI-8_XI-9,Al-Quran_Hadis_XII-1_XII-2_XII-3_XII-4_XII-5_XII-6_XII-7_XII-8,Aqidah_Akhlak_X-1_X-2_X-3_X-4_X-5_X-6_X-7_X-8_X-9_X-10,Aqidah_Akhlak_XI-1_XI-2_XI-3_XI-4_XI-5_XI-6_XI-7_XI-8_XI-9_XI-10,...,Sejarah_XII-1_XII-2_XII-3_XII-4_XII-5_XII-6_XII-7_XII-8,Seni_Budaya_X-1_X-2_X-3_X-4_X-5_X-6_X-7_X-8_X-9_X-10,Seni_Budaya_XI-1_XI-2_XI-3_XI-4_XI-5_XI-6_XI-7_XI-8_XI-9_XI-10,Seni_Budaya_XII-1_XII-2_XII-3_XII-4_XII-5_XII-6_XII-7_XII-8,Sosiologi_X-1_X-2_X-3_X-4_X-5_X-6_X-7_X-8_X-9_X-10,Sosiologi_XI-6_XI-7_XI-8,Sosiologi_XII-5_XII-6,Usul_Fikih_XI-10,Usul_Fikih_XII-8,Rata-rata
0,1,101,ADILLA RESTI MAHARANI,X-1,76.59,0,0,0,53.28,0,...,0,93.24,0,0,49.95,0,0,0,0,71.60
1,2,102,AIMNA ARIA WIGUNA,X-1,0,0,0,0,23.31,0,...,0,16.65,0,0,19.98,0,0,0,0,27.80
2,3,103,ALFIANSYAH,X-1,53.28,0,0,0,16.65,0,...,0,26.64,0,0,23.31,0,0,0,0,31.71
3,4,104,ALIF ABDUL HAKIM,X-1,46.62,0,0,0,43.29,0,...,0,29.97,0,0,26.64,0,0,0,0,29.53
4,5,105,ANISA LATIFA NJ,X-1,49.95,0,0,0,23.31,0,...,0,83.25,0,0,86.58,0,0,0,0,65.39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
980,981,12274,QONITAH,XII-8,0,0,0,66.6,0,0,...,96.57,0,0,80,0,0,0,0,69.93,55.58
981,982,12275,SUKMAWATI,XII-8,0,0,0,53.28,0,0,...,96.57,0,0,76,0,0,0,0,86.58,58.41
982,983,12276,ULFA TRI AULIA,XII-8,0,0,0,33.3,0,0,...,0,0,0,0,0,0,0,0,29.97,29.07
983,984,12277,USWATUN HASANAH,XII-8,0,0,0,46.62,0,0,...,96.57,0,0,68,0,0,0,0,46.62,39.51
984,985,12278,WAHDANIAH,XII-8,0,0,0,69.93,0,0,...,36.63,0,0,80,0,0,0,0,79.92,50.50

In [4]:
rekap_df = pd.DataFrame()
# add column username, nama, kelas from df
rekap_df[['Username', 'Nama', 'Kelas']] = new_df[['Username', 'Nama', 'Kelas']]

for processed_prefix in prefix:
    grouped_cols = []
    grouped_df = pd.DataFrame()

    # loop through columns
    for col in new_df.columns:
        # save every cols that starts with prcessed_prefix
        if col.startswith(processed_prefix):
            grouped_cols.append(col)  # type: ignore

    # convert columns to numeric before calculating max
    grouped_df[processed_prefix] = new_df[grouped_cols].apply(
        pd.to_numeric, errors='coerce').max(axis=1)  # type: ignore

    # add group_df to rekap_df
    rekap_df = pd.concat([rekap_df, grouped_df], axis=1)

rekap_df

,Username,Nama,Kelas,Al-Quran_Hadis,Aqidah_Akhlak,Bahasa_Arab_Tingkat_Lanjut,Bahasa_Arab,Bahasa_Indonesia_Tingkat_Lanjut,Bahasa_Indonesia,Bahasa_Inggris_Tingkat_Lanjut,...,Informatika,Kimia,Matematika_Tingkat_Lanjut,Matematika,Pendidikan_Pancasila,Sejarah_Kebudayaan_Islam,Sejarah,Seni_Budaya,Sosiologi,Usul_Fikih
0,101,ADILLA RESTI MAHARANI,X-1,76.59,53.28,0.00,93.24,0.0,43.29,0.0,...,86.58,56,0,36,76.59,69.93,86.58,93.24,49.95,0.00
1,102,AIMNA ARIA WIGUNA,X-1,0.00,23.31,0.00,53.28,0.0,9.99,0.0,...,23.31,28,0,0,0.00,19.98,26.64,16.65,19.98,0.00
2,103,ALFIANSYAH,X-1,53.28,16.65,0.00,33.30,0.0,33.30,0.0,...,29.97,44,0,32,33.30,33.30,33.30,26.64,23.31,0.00
3,104,ALIF ABDUL HAKIM,X-1,46.62,43.29,0.00,19.98,0.0,9.99,0.0,...,19.98,24,0,28,29.97,39.96,39.96,29.97,26.64,0.00
4,105,ANISA LATIFA NJ,X-1,49.95,23.31,0.00,69.93,0.0,69.93,0.0,...,86.58,56,0,48,36.63,76.59,93.24,83.25,86.58,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
980,12274,QONITAH,XII-8,66.60,93.24,46.62,46.62,0.0,13.32,0.0,...,16.65,0,0,32,76.59,48.00,96.57,80.00,0.00,69.93
981,12275,SUKMAWATI,XII-8,53.28,63.27,29.97,39.96,0.0,26.64,0.0,...,33.30,0,0,68,73.26,68.00,96.57,76.00,0.00,86.58
982,12276,ULFA TRI AULIA,XII-8,33.30,59.94,9.99,13.32,0.0,26.64,0.0,...,3.33,0,0,20,66.60,24.00,24.00,0.00,0.00,29.97
983,12277,USWATUN HASANAH,XII-8,46.62,79.92,29.97,39.96,0.0,19.98,0.0,...,36.63,0,0,12,36.63,16.00,96.57,68.00,0.00,46.62
984,12278,WAHDANIAH,XII-8,69.93,99.90,19.98,53.28,0.0,16.65,0.0,...,16.65,0,0,20,73.26,52.00,52.00,80.00,0.00,79.92

In [ ]:
# save rekap_df to csv
rekap_df.to_csv('rekap_hasil_uts.csv', index=False)

In [14]:
# create a new df based on rekap_df with unique values in Kelas column
kelas_list = rekap_df['Kelas'].unique().tolist()
kelas_list.sort()

classes_df = []

for kelas in kelas_list:
    class_df = rekap_df[rekap_df['Kelas'] == kelas] # type: ignore
    classes_df.append(class_df) # type: ignore

# delete columns with all 0 values
for i in range(len(classes_df)):
    kelas = kelas_list[i] # type: ignore
    classes_df[i] = classes_df[i].loc[:, (classes_df[i] != 0).any(axis=0)] # type: ignore
    classes_df[i] = classes_df[i].sort_values(by=['Nama']) # type: ignore
    classes_df[i] = classes_df[i].reset_index(drop=True) # type: ignore
    classes_df[i].index += 1 # type: ignore
    classes_df[i].to_csv(f'./rekap-{kelas}.csv', index_label='No') # type: ignore